@{
    ViewBag.Title = "Ukrainska Alliansen i Sverige";
}

<div id="carousel-example-generic" data-interval="9999" class="carousel slide" @*data-ride="carousel"*@ style="width: 500px; margin: 0 auto">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="~/Images/150224_.png"><img src="~/Images/150224.png" /></a>
            <div class="carousel-caption">
                <h3>Inbjudan</h3>
                <p>(Klicka för mer information)</p>
            </div>
        </div>
        <div class="item">
            <a href="~/Images/150209.jpg"><img src="~/Images/150209_carusel.jpg" /></a>
            <div class="carousel-caption">
                <h3>Inbjudan</h3>
                <p>(Klicka för mer information)</p>
            </div>
        </div>
        <div class="item">
            <a href="http://mundo.hrnews.se/#post1211"><img src="~/Ruslana/images/mundo140928.jpg" /></a>
            <div class="carousel-caption">
                <h3>Klicka</h3>
            </div>
        </div>
        <div class="item">
            <a href="Images/20120613_2.jpg"><img src="Images/20120613_carousel.jpg" /></a>
            <div class="carousel-caption">
                <h3>Artikel i GP</h3>
                <p>(Klicka för mer information)</p>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


