@{
    ViewBag.Title = "Ukrainska Alliansen i Sverige";
}

@*<div>
    <img src="~/Images/allianssommar[4].png" class="img-responsive" />
</div>*@

<br />

<div id="carousel-example-generic" data-interval="9999" class="carousel slide" @*data-ride="carousel"*@ style="width: 500px; margin: 0 auto">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" >
            <a href="~/Images/alliansjul2015_carousel.jpg"><img src="~/Images/alliansjul2015.jpg" /></a>
            <div class="carousel-caption">
                <h3>Klicka</h3>
            </div>
        </div>
        <div class="item">
            <a href="Blogg/BlogDetail/51"><img src="~/Ruslana/images/blogg/151004_15K1K.JPG" /></a>
            <div class="carousel-caption">
                <h3>Klicka</h3>
            </div>
        </div>
        <div class="item">
            <a href="Blogg/BlogDetail/51"><img src="~/Ruslana/images/blogg/151004_18TU2.JPG" /></a>
            <div class="carousel-caption">
                <h3>Klicka</h3>
            </div>
        </div>
        <div class="item">
            <a href="http://mundo.hrnews.se/#post1211"><img src="~/Ruslana/images/mundo140928.jpg" /></a>
            <div class="carousel-caption">
                <h3>Klicka</h3>
            </div>
        </div>
        <div class="item">
            <a href="Images/20120613_2.jpg"><img src="Images/20120613_carousel.jpg" /></a>
            <div class="carousel-caption">
                <h3>Artikel i GP</h3>
                <p>(Klicka för mer information)</p>
            </div>
        </div>
        <div class="item">
            <a href="Images/150825.jpg"><img src="Images/150825_c.jpg" /></a>
            <div class="carousel-caption">
                <h3></h3>
                <p>(Klicka för mer information)</p>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


