@{
    ViewBag.Title = "Index";
}

<h4 class="h4 myh4">Verksamhet</h4>

<h1><img src="~/ruslana/images/annonser/annons111016.jpg" border="0" width="335" height="152" style="border: 0px;" /></h1>
<h1>VERKSAMHETSBERÄTTELSE FÖR UKRAINSKA ALLIANSEN I SVERIGE FÖR 2010</h1>
<p>UKRAINSKA ALLIANSEN I SVERIGE</p>
<p>VERKSAMHETSBERÄTTELSE FÖR UKRAINSKA ALLIANSEN I SVERIGE FÖR 2010</p>
<p>Inledning:<br />Ukrainska Alliansen i Sverige är en paraplyverksamhet för 9 olika<br />föreningar i Göteborg, Stockholm, Trelleborg, Blekenge, Gävle för vilka vi anordnar olika verksamhet.</p>
<p>Ukrainska Alliansen i Sverige bildades i September 2009</p>
<p>Huvudverksamhetsområden:</p>
<p>*Aktivt arbeta med övergripande integrationsfrågor.<br />*Genomföra utbildningsdagar och föreläsningar för medlemsföreningar.<br />*Utveckla kultur mellan Ukraina och Sverige och ordna årliga mötesplatser för debatt, utställningar och kunskapsspridning.<br />*Motverka fördomar mellan Svenskarna och invandrare samt mellan invandrargrupper<br />*Starka invandrarkvinnor i sinn roll som kulturförmedlare.<br />*Verka för ett jämställd samhälle där invandrarkvinnornas kompetens tas tillvara.<br />*Arbeta målgruppsorinterat med barn och unga, kvinnor och seniorer.</p>
<p>
    KONTAKT<br />Ukrainska Alliansen i Sverige<br />C/O Tetyana Rep<br />Hyltegården 63<br />436 34 Askim<br />Org.nr: 802448-2534<br />Plusgiro: 5 10 39 -6<br />Telefon: 073-73100 94<br /><a href="/ruslana/..//">http://www.ruslana.se</a><br />E-mail:
    <script language='JavaScript' type='text/javascript'>
 <!--
 var prefix = 'm&#97;&#105;lt&#111;:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy8131 = '&#117;&#97;&#105;s' + '&#64;';
 addy8131 = addy8131 + 'l&#105;v&#101;' + '&#46;' + 's&#101;';
 document.write( '<a ' + path + '\'' + prefix + addy8131 + suffix + '\'' + attribs + '>' );
 document.write( addy8131 );
 document.write( '<\/a>' );
 //-->
    </script>
    <script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
    </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
    <script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
    </script>
</p>
