@{
    ViewBag.Title = "Index";
}

<h4 class="h4 myh4">Kontakt</h4>
<p>
    Ukrainska Alliansen i Sverige<br />C/O  Tetyana Rep<br />Hyltegården 63.<br />436 34 Askim<br /> <br />Org.nr: 802448-2534<br />Plusgiro: 5 10 39-6<br /> <br />Telefon: 073-731 00 94<br /><a href="http://www.ruslana.se">http://www.ruslana.se</a><br />Email:
    <script language='JavaScript' type='text/javascript'>
 <!--
 var prefix = 'm&#97;&#105;lt&#111;:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy91580 = '&#117;&#97;&#105;s' + '&#64;';
 addy91580 = addy91580 + 'l&#105;v&#101;' + '&#46;' + 's&#101;';
 document.write( '<a ' + path + '\'' + prefix + addy91580 + suffix + '\'' + attribs + '>' );
 document.write( addy91580 );
 document.write( '<\/a>' );
 //-->
    </script>
    <script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
    </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
    <script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
    </script>
</p>

